.blog_top-content
{
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 50px;
}
.blog_wrapper
{
    align-items: center;
    display: flex;
}
.highlight
{
    padding-bottom: 50px;
}
.blog_item
{
    width: 80%;
    height: 10%;
    padding: 30px 25px;
    background: var(--card-bg);
    border-radius: 0.5rem;
}
.blog_item h3 {
    color: whitesmoke;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 50px;
}
.blog_img img{
    width: 100%;
    margin-bottom: 30px;
}
.blog_desc {
    font-size: 1.1 rem;
    margin-top: 10px;
    text-align: left;
}
.blog_item:nth-child(2).blog_img
{
    margin-top: -100px;
    margin-bottom: -10px;
}
blog_item:nth-child(2)
{
    width: 33%;
    margin-top: -70%;

}


